@import url(/colors.css);

@font-face {
  font-family: minecraft_seven_v2;
  src: url(/assets/fonts/Minecraft-Seven_v2.ttf);
}

body {
  font-family: minecraft_seven_v2;
}

ul {
  list-style: none;
  list-style-position: inside;

  >li::before {
    content: "";
    border-color: transparent #111;
    border-style: solid;
    border-width: 0.35em 0 0.35em 0.45em;
    display: block;
    height: 0;
    width: 0;
    left: -1em;
    top: 0.9em;
    position: relative;
  }

  >li:nth-child(1) {
    margin-left: -20px;

    &::before {
      content: "";
      border-color: transparent #111;
      border-style: none;
      border-width: 0.35em 0 0.35em 0.45em;
      display: block;
      height: 0;
      width: 0;
      left: -0;
      top: 0.0;
      position: relative;
    }
  }
}